<!DOCTYPE html>
<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script async="" src="//www.google-analytics.com/analytics.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <title>UrlRunner - Job scheduling on the web made easy</title>
    <meta name="description"
          content="If your website has a task or job that needs to run periodically, UrlRunner can help.">
    <meta name="keywords"
          content="Cron schedule task runner scheduler Simply tell UrlRunner the url of your job and know how often you want it to run. UrlRunner then regularly sends a post request to the url, running your job!">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .container {
            max-width: 700px;
        }
    </style>
</head>
<body>
<div class="panel panel-default" style="overflow-y: scroll;height: 250px">
        <table class="table table-hover">
            <tr>
                <th>Name</th>
                <th>Last Run Time</th>
                <th>Next Run Time</th>
                <th>Run Interval</th>
            </tr>
            <tr>
                <td>Database Archive Process</td>
                <td>Thu Jan 01 2015 01:00:00 GMT-0600 (CST)</td>
                <td>Thu Jan 02 2015 01:00:00 GMT-0600 (CST)</td>
                <td>Every 1 Day(s)</td>
            </tr>
            <tr>
                <td>Database Archive Process</td>
                <td>Thu Jan 01 2015 01:00:00 GMT-0600 (CST)</td>
                <td>Job is not enabled</td>
                <td>Every 1 Day(s)</td>
            </tr>
            <tr>
                <td>Database Archive Process</td>
                <td>Thu Jan 01 2015 01:00:00 GMT-0600 (CST)</td>
                <td>Thu Jan 02 2015 01:00:00 GMT-0600 (CST)</td>
                <td>Every 1 Day(s)</td>
            </tr>
            <tr>
                <td>Database Archive Process</td>
                <td>Thu Jan 01 2015 01:00:00 GMT-0600 (CST)</td>
                <td>Thu Jan 02 2015 01:00:00 GMT-0600 (CST)</td>
                <td>Every 1 Day(s)</td>
            </tr>
            <tr>
                <td>Database Archive Process</td>
                <td>Thu Jan 01 2015 01:00:00 GMT-0600 (CST)</td>
                <td>Thu Jan 02 2015 01:00:00 GMT-0600 (CST)</td>
                <td>Every 1 Day(s)</td>
            </tr>
            <tr>
                <td>Database Archive Process</td>
                <td>Thu Jan 01 2015 01:00:00 GMT-0600 (CST)</td>
                <td>Thu Jan 02 2015 01:00:00 GMT-0600 (CST)</td>
                <td>Every 1 Day(s)</td>
            </tr>
            <tr>
                <td>Database Archive Process</td>
                <td>Thu Jan 01 2015 01:00:00 GMT-0600 (CST)</td>
                <td>Thu Jan 02 2015 01:00:00 GMT-0600 (CST)</td>
                <td>Every 1 Day(s)</td>
            </tr>
            <tr>
                <td>Database Archive Process</td>
                <td>Thu Jan 01 2015 01:00:00 GMT-0600 (CST)</td>
                <td>Thu Jan 02 2015 01:00:00 GMT-0600 (CST)</td>
                <td>Every 1 Day(s)</td>
            </tr>
            <tr>
                <td>Database Archive Process</td>
                <td>Thu Jan 01 2015 01:00:00 GMT-0600 (CST)</td>
                <td>Thu Jan 02 2015 01:00:00 GMT-0600 (CST)</td>
                <td>Every 1 Day(s)</td>
            </tr>
            <tr>
                <td>Database Archive Process</td>
                <td>Thu Jan 01 2015 01:00:00 GMT-0600 (CST)</td>
                <td>Thu Jan 02 2015 01:00:00 GMT-0600 (CST)</td>
                <td>Every 1 Day(s)</td>
            </tr>
            <tr>
                <td>Database Archive Process</td>
                <td>Thu Jan 01 2015 01:00:00 GMT-0600 (CST)</td>
                <td>Thu Jan 02 2015 01:00:00 GMT-0600 (CST)</td>
                <td>Every 1 Day(s)</td>
            </tr>
        </table>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Job name</label>

                <div class="col-sm-10">
                    <input type="password" class="form-control" placeholder="Database Archive Process">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Job url</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="https://example.com/jobs/archiveDatabase.php">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Run once every</label>

                <div class="col-sm-10">
                    <div class="col-sm-2" style="padding-left: 0">
                        <select class="form-control">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                            <option value="32">32</option>
                            <option value="33">33</option>
                            <option value="34">34</option>
                            <option value="35">35</option>
                            <option value="36">36</option>
                            <option value="37">37</option>
                            <option value="38">38</option>
                            <option value="39">39</option>
                            <option value="40">40</option>
                            <option value="41">41</option>
                            <option value="42">42</option>
                            <option value="43">43</option>
                            <option value="44">44</option>
                            <option value="45">45</option>
                            <option value="46">46</option>
                            <option value="47">47</option>
                            <option value="48">48</option>
                            <option value="49">49</option>
                            <option value="50">50</option>
                            <option value="51">51</option>
                            <option value="52">52</option>
                            <option value="53">53</option>
                            <option value="54">54</option>
                            <option value="55">55</option>
                            <option value="56">56</option>
                            <option value="57">57</option>
                            <option value="58">58</option>
                            <option value="59">59</option>
                            <option value="60">60</option>
                        </select>
                    </div>
                    <div class="col-sm-10" style="padding-right:0;padding-left:0">
                        <select class="form-control">
                            <option value="1">Minute(s)</option>
                            <option value="60">Hour(s)</option>
                            <option selected value="1440">Day(s)</option>
                            <option value="10080">Week(s)</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">First run time</label>

                <div class="col-sm-10">
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#"
                           href="#">
                            <div class="input-group">
                                <input value="Thu Jan 01 2015 01:00:00 GMT-0600 (CST)" type="text" class="form-control"
                                       data-ng-model="data.dateDropDownInput">
                        <span
                                class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="data.dateDropDownInput"
                                            data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Job enabled </label>

                <div class="col-sm-10">
                    <select class="form-control">
                        <option value="1">Yes</option>
                        <option value="0">No</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
include http://dalelotts.github.io/angular-bootstrap-datetimepicker/

</body>
</html>